<div class="FooterCompleto"></div>
<div class="divisorFooter"></div>
<footer>
  <div class="sobre">
    <h2>Correio's</h2>
    <div class="divisor"></div>
    <p>R. Leopoldo Mahnke, 92</p>
    <p>- Centro, Jaraguá do Sul</p>
    <p>- SC, 89251-971</p>
  </div>

  <div class="burocracia">
    <p><a href=""></a></p>
  </div>

  <div class="social">
    <h2>Redes</h2>
    <div class="divisor"></div>
    <p><a class="insta" href="https://www.instagram.com/inaciopv._/">Instagram</a></p>
    <p><a class="twitter" href="https://twitter.com/inaciovitkoski">Twitter</a></p>
    <p><a class="youtube" href="https://www.youtube.com/channel/UC2DpQ2nKfRLbgaM-TcanqmA">Youtube</a></p>
  </div>
</footer>